.highScoreList {
   padding-bottom: 1rem; 
}
.highScore {
    list-style-type: none;
    font-size: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #56a5eb;
}
.label {
    font-weight: bold;
    font-size: 2.5rem;
}
.highScore > span {
    display: inline-block;
    padding: 0 1rem;
    margin: 0 1rem;
    /* border: #56a5eb solid 1px; */
}

.hsName {
    width: 150px;
}
.hsScore {
    width: 100px;
}
.hsDate {
    width: 250px;
}